# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django specific
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# Environment variables
.env

# Logs
*.log

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Mac / Windows system files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.tmp

# Node (if you use React or frontend tools)
node_modules/
build/
dist/

# Cloudinary or credentials backup
cloudinary_secret.json
